body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.intro-container {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

h2.typing-text {
  font-size: 24px;
  color: #777;
}

.stats-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}

.stats-card {
  max-width: 180px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
  padding: 20px;
}

.stats-card h3 {
  font-size: 70px;
  margin: 5px 0;
}

.stats-card p {
  margin: 0;
}


.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 150px;
  }

  .project-card {
    background-color: #f0f0f0;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: box-shadow 0.3s ease;
  }

  .project-card h3 {
    font-size: 30px;
  }
  
  .view-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card:hover {
   border: 2px solid blue;
   box-shadow: 0 0 5px blue;
}
  
.top-read {
  display: inline-flex;
  margin-bottom: 10px;
}

.top-read i {
  margin: 0;
  font-size: 13px;
}

.top-read span {
  margin-left: 10px;
  font-size: 13px;
}

.article-date {
  margin: 0;
  font-size: 13px;
}
      
@media (max-width: 767px) {
    .articles-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin: 0 10px;
      }

      .article-card {
        flex-basis: 100%;
        max-width: calc(100% - 20px);
      }
    
    .article-card {
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 20px;
    }

  }
  
/* Desktop and laptops */
    @media (min-width: 768px) {

      .articles-container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 10px;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE and Edge */
      }

      .articles-container::-webkit-scrollbar {
        display: none;
      }

      .article-card {
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-right: 10px;
        padding: 10px;
        min-width: 300px;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
      }
    }

.article-card:hover {
  border: 2px solid blue;
  box-shadow: 0 0 5px blue;
}

.article-card h3 {
  margin: 0;
  font-size: 30px;
}

.ellipsis {
  color: #aaa;
}

.article-card.selected {
  border: 2px solid blue;
  box-shadow: 0 0 5px blue;
}

.read-now-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
}

.arrow-container {
  display: flex;
  justify-content: center;
}

.arrow-left,
.arrow-right {
  font-size: 24px;
  cursor: pointer;
  margin: 5px;
}



.button-container {
  text-align: center;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding: 10px;
  width: 200px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  background-color: #007bff;
  color: #fff;
}

.button:hover {
  background-color: #4d4d4d;
  cursor: pointer;
}

.button i {
  margin: 0;
}

.button span {
  margin-left: 10px;
}

